<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <link href="/assets/main-style.css" rel="stylesheet" type="text/css">
    <link href="/assets/dashboard.css" rel="stylesheet" type="text/css">
    <title>Linkt</title>
</head>
<body>
    <!-- header -->
    <div class="header-container">
        <header class="main-header">
            <div class="header-element">
                <p class="header-text">Recommended</p>
            </div>
            <!-- <div class="header-element"> -->
                <img class="header-logo" src="/assets/icons/logo.png" alt="linkt-logo">
            <!-- </div> -->
        </header>
    </div>

    <!-- main -->
    <div class="main-container">
        <main>
            <div class="cards-container">

                <!-- <div class="card-container">
                    <div class="card">
                        <div class="profile-image-column">
                            <img class="profile-image" src="/assets/meme/kizuna-ai.jpg" alt="profile picture">
                        </div>
                        <div class="info-column">
                            <p class="name">Kizuna Ai</p>
                            <p class="age">Age: 18</p>
                            <p class="bio">Bio: a Japanese virtual YouTuber and self-proclaimed artificial intelligence. As of 2019, she operates three YouTube channels.</p>
                            <div class="card-buttons-container">

                                pass on profile info to next page
                                <form action="/match-profile" method="POST">
                                    <input class="profile-selected" name="profile-selected" type="hidden" value="">
                                    <button type="submit" class="view-profile">View Profile</button>
                                </form>

                                pass on profile info to next page
                                <form action="/match-message" method="POST">
                                    <input class="message-selected" name="message-selected" type="hidden" value="">
                                    <button class="message">Message!</button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div> -->

                <%for (let match of matches) { %>
                    <% const { first_name, last_name, age, current_profile_picture, headline, bio, current_latitude, current_longitude, openess, conscientiousness, extroversion} = match %>
                    <% match.username = `${first_name} ${last_name}` %>
                    <div class="card-container">
                        <div class="card">
                            <div class="profile-image-column">
                                <img class="profile-image" src="<%=current_profile_picture%>" alt="profile picture">
                            </div>
                            <div class="info-column">
                                <p class="name"><%=`${first_name} ${last_name}, ${age}`%></p>
                                <!-- <p class="age">Age: <%=age%></p> -->
                                <p class="headline">Headline: <%=headline%></p>
                                <p class="bio">Bio: <%=bio%></p>
                                <div class="card-buttons-container">
                                    <form action="/match-profile" method="POST">
                                        <input class="profile-selected" name="username" type="hidden" value="<%=match.username%>">
                                        <input class="profile-selected" name="first_name" type="hidden" value="<%=first_name%>">
                                        <input class="profile-selected" name="last_name" type="hidden" value="<%=last_name%>">
                                        <input class="profile-selected" name="age" type="hidden" value="<%=age%>">
                                        <input class="profile-selected" name="profile_picture" type="hidden" value="<%=current_profile_picture%>">
                                        <input class="profile-selected" name="current_latitude" type="hidden" value="<%=current_latitude%>">
                                        <input class="profile-selected" name="current_longitude" type="hidden" value="<%=current_longitude%>">
                                        <input class="profile-selected" name="headline" type="hidden" value="<%=headline%>">
                                        <input class="profile-selected" name="bio" type="hidden" value="<%=bio%>">

                                        <button type="submit" class="view-profile">View Profile</button>
                                    </form>
                                    <form action="/match-message" method="POST">
                                        <input class="message-selected" name="receiver_user_id" type="hidden" value="<%=match.user_id%>">
                                        <input class="message-selected" name="receiver_username" type="hidden" value="<%=match.username%>">
                                        <input class="message-selected" name="profile_picture" type="hidden" value="<%=current_profile_picture%>">
                                        <button class="message">Message!</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                <%}%>
                

                <!-- card container end -->
            </div>
        </main>
    </div>

    <div class="footer-container">
        <footer class="main-footer">
            <nav class="footer-navigation-icons">
                <a class="footer-link" href="/user-profile"><img src="assets/icons/profileIcon.png" alt="profile-icon"></a>
                <a class="footer-link" href="/user-messages"><img src="assets/icons/messageIcon.png" alt="message-icon"></a>
                <a class="footer-link" href="/user-settings-page"><img src="assets/icons/settingIcon.png" alt="settings-icon"></a>
            </nav>
        </footer>
    </div>
</body>
</html>