<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <link href="/assets/main-style.css" rel="stylesheet" type="text/css">
    <link href="/assets/match-profile.css" rel="stylesheet" type="text/css">
    <title>Linkt</title>
</head>
<body>
    <!-- header -->
    <div class="header-container">
        <header class="main-header">
            <a href="/dashboard"><img class="back-button" src="assets/icons/left-arrow.png" alt="back-button"></a>
            <div class="header-element">
                <p class="header-text">Dating Profile</p>
            </div>
            <div class="header-element">
                <img class="header-logo" src="/assets/icons/logo.png" alt="linkt-logo">
            </div>
        </header>
    </div>

     <!-- main -->
    <% const { user_id, username, first_name, last_name, age, profile_picture, headline, bio, current_latitude, current_longitude, job_title, highest_education_type } = matchProfile %>
     <div class="main-container">
        <main>
            <div class="profile-container">
                <div class="profile-image-container">
                    <img class="profile-photo" src="<%=profile_picture%>" alt="profile-picture">
                </div>
                <div class="profile-info-container">
                    <p class="name"><%=`${first_name} ${last_name}`%></p>
                    <p class="headline"><%=headline%></p>
                    <p class="bio"><%=bio%></p>
                    <div class="profile-ribbon-container">
                        <div class="profile-ribbon"><img class="profile-icon" src="assets/icons/pin.png" alt="location"><p class="ribbon-content"></p>Latitude: <%=`${current_latitude}`%> Longitude: <%=`${current_longitude}`%></div>
                        <!-- <div class="profile-ribbon"><img class="profile-icon" src="assets/icons/home-run.png" alt="place-of-origin"><p class="ribbon-content">From: </p></div> -->
                        <div class="profile-ribbon"><img class="profile-icon" src="assets/icons/work.png" alt="career"><p class="ribbon-content"></p><%=job_title%></div>
                        <div class="profile-ribbon"><img class="profile-icon" src="assets/icons/student.png" alt="education"><p class="ribbon-content"></p><%=highest_education_type%></div>
                        <!-- <div class="profile-ribbon"><img class="profile-icon" src="" alt="education"><p class="ribbon-content"></p></div> -->
                    </div>
                </div>

                <div class="buttons">
                    <form class="like-button-container" action="/match-liked" method="POST">
                        <button class="like">Like!</button>
                    </form>
                    <form class="message-button-container" action="/match-message" method="POST">
                        <input class="message-selected" name="receiver_user_id" type="hidden" value="<%=user_id%>">
                        <input class="message-selected" name="receiver_username" type="hidden" value="<%=username%>">
                        <input class="message-selected" name="profile_picture" type="hidden" value="<%=profile_picture%>">
                        <button class="message">Message!</button>
                    </form>
                </div>
            </div>
        </main>
    </div>

    <div class="footer-container">
        <footer class="main-footer">
            <nav class="footer-navigation-icons">
                <a class="footer-link" href="/user-profile"><img src="assets/icons/profileIcon.png" alt="profile-icon"></a>
                <a class="footer-link" href="/user-messages"><img src="assets/icons/messageIcon.png" alt="message-icon"></a>
                <a class="footer-link" href="/user-settings-page"><img src="assets/icons/settingIcon.png" alt="settings-icon"></a>
            </nav>
        </footer>
    </div>
</body>
</html>