<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto&display=swap" rel="stylesheet">
    <link href="/assets/main-style.css" rel="stylesheet" type="text/css">
    <link href="/assets/user-messages.css" rel="stylesheet" type="text/css">
    <title>Linkt</title>
</head>
<body>
    <!-- header -->
    <div class="header-container">
        <header class="main-header">
            <a onclick="goBack()"><img class="back-button" src="assets/icons/left-arrow.png" alt="back-button"></a>
            <div class="header-element">
                <p class="header-text">Messages</p>
            </div>
            <div class="header-element">
                <a href="/dashboard"><img class="header-logo" src="/assets/icons/logo.png" alt="linkt-logo"></a>
            </div>
        </header>
    </div>

        <!-- main -->
        <div class="main-container">
            <main>
                <div class="messages-container">
                    <% for (let message of user_messages) {  %>
                        <form action="/match-message" method="POST">
                            <button class="message-card" type="submit">
                                <img class="match-user-profile-photo" src="<%=message.match_profile_picture%>" alt="other-user-profile-photo">
                                <div class="text-column">
                                    <p class="match-username"><%=message.match_username%></p>
                                    <p class="most-recent-message"><%=message.message_text%></p>
                                    <p><div class="message-button">Message!</div></p>
                                </div>
                                <input class="message-selected" name="receiver_user_id" type="hidden" value="<%=message.match_id%>">
                                <input class="message-selected" name="receiver_username" type="hidden" value="<%=message.match_username%>">
                                <input class="message-selected" name="profile_picture" type="hidden" value="<%=message.match_profile_picture%>">
                                <input class="message-selected" name="likes_user" type="hidden" value="<%=message.match_likes_user%>">
                            </button>
                        </form>
                    <%}%>
                    </div>
            </main>
        </div>
    
        <div class="footer-container">
            <footer class="main-footer">
                <nav class="footer-navigation-icons">
                    <a class="footer-link" href="/user-profile"><img class="footer-icon" src="assets/icons/profileIcon.png" alt="profile-icon"><p>Profile</p></a>
                    <a class="footer-link" href="/user-messages"><img class="footer-icon" src="assets/icons/messageIcon.png" alt="message-icon"><p>Messages</p></a>
                    <a class="footer-link" href="/user-settings-page"><img class="footer-icon" src="assets/icons/settingIcon.png" alt="settings-icon"><p>Settings</p></a>
                </nav>
            </footer>
        </div>
    </body>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.dev.js"></script>
    <script src="assets/user-messages.js"></script>
    <script src="assets/formatting.js"></script>
    <script src="assets/back-button.js"></script>
</html>